@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  transition: .3s all;
}
a {
  text-decoration: none;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}
.mynav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background: rgb(114, 16, 117);
  padding: 0 30px;
  box-shadow: 0 2px 5px 0 rgba(151, 120, 192, 0.24);
  cursor: crosshair;
}
.mynav__theme {
  outline: none;
  border: none;
  padding: 8px 20px;
  background: #FFE082;
  border-radius: 7px;
  cursor: pointer;
}
.mynav__theme:active {
  box-shadow: inset 0 0 20px -3px rgba(0, 0, 0, 0.6);
}
.mynav__menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

}

.mynav__item {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 15px;
  transition: transform .2s;
}
.mynav__item:hover {
  background-color: #378fe7;
  position: relative;
  transform: scale(3)
}

.mynav__link {
  font-size: 15px;
  color:#fff;
  cursor: help;
}
.mynav__link:hover {
  font-size: 17px;
}
.main {
  padding: 40px 0;
}
.main__content {
  display: flex;
  justify-content: space-around;
  width: 1000px;
  margin: 0 auto;
  
}
.main__tile {
  padding: 20px;
  width: 18%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.502);
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}
.main__tile--danger .main__header,
.main__tile--danger .main__plus {
  color: #e64747;
}
.main__tile--success .main__header,
.main__tile--success .main__plus {
  color: #e64747;
}
.main__tile--warning .main__header,
.main__tile--warning .main__plus {
  color: #e64747;
}
.main__tile--primary .main__header,
.main__tile--primary .main__plus {
  color: #e64747;
}
.main__header {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.main__features {
  list-style: none;
  margin: 0 0 40px 0;
  padding: 0 0 0 20px;
}
.main__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16px;
}
.main__footer {
  text-align: center;
}
.main__button {
  outline: 0;
  padding: 8px 20px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 15px;
  font-size: 15px;
  background: violet;
}
.main__button--danger {
  border-color: #6447e6;
}
.main__button--danger:hover {
  background: #5f47e6;
  color: #fff;
}
.main__button--success {
  border-color: #9f86ff;
}
.main__button--success:hover {
  background: #9f86ff;
  color: #fff;
}
.main__button--primary {
  border-color: #3b1bc9;
}
.main__button--primary:hover {
  background: #351bc9;
  color: #fff;
}
.main__button--warning {
  border-color: #6436e4;
}
.main__button--warning:hover {
  background: #5c36e4;
  color: #fff;
}
